.div{
    display: flex;
    gap: 20px;
}

.main{
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 350px) and (max-width: 550px){
    .div{
        flex-direction: column;
    }
}