.elementos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 320px;
    gap: 2px;
    background-color: var(--cor-header);
}

.episodios{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}