.elements{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 320px;
    gap: 2px;
    background-color: var(--cor-header);
}

@media (min-width: 320px) and (max-width: 650px){
    .elements{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 350px;
    }
}

@media (min-width: 651px) and (max-width: 1370px){
    .elements{
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 290px;
        max-width: 800px;
    }
}