*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--fonte-secundaria);
  transition: all ease 0.5s;
}

:root{
  --cor-header: #2B2D31;
  --roxo-texto: #7C3AED;
  --ciano-texto: #2DD4BF;
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundaria: "Inter", sans-serif;
  /* 
    Título principal
    font-weight: 700;

    Subtítulo
    font-weight: 600;

    Texto
    font-weight: 400;
    line-height: 1.6;
  */

}

