.main{
    padding: 30px 30px 50px 30px;
    border-radius: 5px;
    gap: 60px;
    font-family: var(--fonte-principal);
    background-color: var(--cor-header);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 37%;
}

@media (min-width: 300px) and (max-width: 650px) {
    .main{
        width: 70%;
        font-size: small;
        align-self: flex-end;
    }
}

@media (min-width: 651px) and (max-width: 850px) {
    .main{
        width: 100%;
        align-self: flex-start;
    }
}

@media (min-width: 851px) and (max-width: 1372px) {
    .main{
        width: 360px;
    }
}